#validation {
  color: red;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.nathalie-lindqvist {
  background-color: lightgray;
}

#navbarNav {
  margin-left: 20px;
}

.gallery {
  margin-top: 30px;
}

.footer {
  margin-top: 30px;
}