<!--
    templateType: page
    isAvailableForNewContent: false
-->
<header>
    <div class="overlay">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img class="logo" src="https://f.hubspotusercontent-eu1.net/hubfs/25300201/igomoon-logo.png"
                    alt="iGoMoon logo" height="100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>