{% extends "./layouts/base.html" %}
{% block body %}

<div class="site-container">
    <h1>Developer coding task</h1>
    <main id="main-content">
        <div class="drag-drop">
            {% dnd_area "dnd_area", label="Dnd Area" %}
            {% dnd_section padding={
            top: 10,
            bottom: 10,
            right: 10,
            left: 10
            }, vertical_alignment= 'MIDDLE' %}
            {% dnd_column offset=0, width=6, %}
            {% dnd_row %}
            {% dnd_module "image" path="@hubspot/image", label="Feature Image" %}
            {% end_dnd_module %}
            {% end_dnd_row %}
            {% end_dnd_column %}

            {% dnd_column offset=6, width=6, %}
            {% dnd_row %}
            {% dnd_module path="@hubspot/text" value="Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Sed felis eget velit aliquet sagittis id consectetur purus. Donec ac odio tempor orci dapibus.
            Lobortis
            feugiat
            vivamus at augue eget arcu.", label="Feature Text" %}
            {% end_dnd_module %}
            {% end_dnd_row %}
            {% end_dnd_column %}

            {% end_dnd_section %}
            {% end_dnd_area %}
        </div>
        <div class="form-optin">
            {% module "module_form_optin_20201119",
            path="./modules/form-optin",
            label="Form Optin"
            %}
        </div>
        <div class="gallery">
            {% module "gallery",
            path="./modules/gallery",
            label="Gallery"
            %}
        </div>
    </main>
</div>
{% endblock body %}